@font-face {
  font-family: 'VT323';
  src: url(https://fonts.gstatic.com/s/vt323/v17/pxiKyp0ihIEF2isfFJU.woff2) format('woff2');
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  background: #8fa990 url("images/background.png") repeat;
  background-size: 150px;
  font-family: 'VT323', serif;
}

header {
  width: 800px;
  margin: 0 auto;
  border: 2px solid #909090;
  background-color: #331C0C;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

header h1 {
  color: white;
  padding: 0px;
}

h1, h2, h3 {
  margin: 0;
  padding: 5px;
}

p {
  margin: 0 auto;
  padding: 5px;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.4;
}

a {
  margin: 0;
  color: #331C0C;
  text-decoration: underline;
  font-size: 1.2rem;
  padding: 10px 0;
}

header a {
  color: white;
  text-decoration: none;
}


li a.active {
  text-decoration: underline;
}

footer {
  width: 800px;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #909090;
  background-color: #331C0C;
  gap: 10px;
  font-size: 1.2rem;
  height: 78.4px;
}

.title {
  display: flex;
  align-items: center;
  gap: 20px; 
  padding: 5px 20px;
}

.navigation {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 1.5rem;
  color: white;
}

.windowbuttons {
  padding: 5px 20px;
  display: flex;
  gap: 10px;
}

.windowbutton {
  width: 1.5rem;
  height: 1.5rem;
  background: #909090;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.textbox {
  width: 800px;
  margin: 0 auto;
  background: #decab9;
  border-left: 2px solid #909090;
  border-right: 2px solid #909090;
}

.columns {
  display: flex;
  align-items: flex-start;
}

.profilepic {
  width: 200px;
  flex-shrink: 0;
}

.box {
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sociallinks {
  text-align: center;
}

.text {
  text-align: justify;
  margin: f0px auto;
  max-width: 600px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 50px;
}

#drawingCanvas {
  display: block;
  margin: 0 auto 20px auto;
  border: 2px solid black;
  background: white;
  cursor: crosshair;
}

.submit {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#message {
  width: 500px;
  height: 1rem;
  margin-bottom: 20px;

}

.footerbutton {
  color: white;
  text-decoration: underline;
}