@font-face {
	font-family: 'VT323';
	src: url(https://fonts.gstatic.com/s/vt323/v17/pxiKyp0ihIEF2isfFJU.woff2) format('woff2');
	font-display: swap
}

body {
	margin: 0;
	padding: 0;
    font-family: 'VT323', monospace;
    background: #46514a url("images/background.png") repeat;
	background-size: 150px;
}

a {
    text-decoration: underline;
    color: #000000;
    font-size: 18px;
}

h1, h2, h3 {
    margin: 0;
}

p {
    font-size: 18px;
    line-height: 1.4;
    margin: 0
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:50px;
    margin-top: 50px;
}

.left-window {
    background-color: #b99885;
    border: 2px solid #331C0C;
    width: 250px;
    margin-left: auto;
    margin-bottom: 50px;
}

.window { 
    background-color: #b99885;
    border: 2px solid #331C0C;
    width: 600px;
    margin-bottom: 50px;
}

.title-bar {
    background-color: #331C0C;
    margin: 2px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-bar-left-aligned {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title-bar-icon {
    height: 20px;
    width: 20px;
}

.title-bar-title {
    font-weight: bold;
    color: #ffe5e0;
    font-size: 20px;
}

.title-bar-buttons {
	display: flex;
	gap: 10px;
}

.title-bar-button{
    width: 20px;
    height: 20px;
    background-color: #b99885;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ffe5e0;
    border-right: 1px solid #331C0C;
    border-left: 1px solid #ffe5e0;
    border-bottom: 1px solid #331C0C;
    font-size: 20px;

}

.image-workspace {
        background-color: #ffe5e0;
        border: 2px solid #331C0C;
        margin: 5px;
}

.image {
    width: 100%;
    display: flex;
}

.menu-bar {
    background-color: #b99885;
    margin: 2px;
    padding: 5px 10px;
    border-top: 1px solid #ffe5e0;
    border-right: 1px solid #000000;
    border-left: 1px solid #ffe5e0;
    border-bottom: 1px solid #000000;
    list-style-type: none;
    display: flex;
    font-size: 18px;
    gap: 10px;
}

.menu-bar-item {
    color: #000000;
    text-decoration: none;
    border: 1px solid transparent;
}

.menu-bar-item.active {
    border-top: 1px solid #ffe5e0;
    border-right: 1px solid #331C0C;
    border-left: 1px solid #ffe5e0;
    border-bottom: 1px solid #331C0C;
}

.menu-bar-item:hover {
    border-top: 1px solid #ffe5e0;
    border-right: 1px solid #331C0C;
    border-left: 1px solid #ffe5e0;
    border-bottom: 1px solid #331C0C;
}

.workspace {
    background-color: #ffe5e0;
    border: 2px solid #331C0C;
    margin: 5px;
    padding: 20px;
}

.columns {
	display: flex;
	align-items: flex-start;
    gap: 20px;
}

.text {
    text-align: justify;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 50px;
}

  #drawingCanvas {
    display: block;
    margin: 0 auto 20px auto;
    border: 2px solid #909090;
    background: #FFFFFF;
    cursor: crosshair;
}

  .submit {
    display: flex;
    justify-content: center;
    gap: 10px;
}

  #message {
    width: 400px;
    height: 32px;
}

.right-window {
    background-color: #b99885;
    border: 2px solid #331C0C;
    width: 250px;
    margin-right: auto;
    margin-bottom: 50px;
}

.stat-counter {
    border: 2px solid #331C0C;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}